@import '~bulma/sass/utilities/initial-variables'
@import '~bulma/sass/utilities/functions'

html, body, #app, #main
    height: 100%
    margin: 0
    background: linear-gradient(to bottom, #ffffff, #e5eeff, #b9e2fb, #81d7ea, #4cccc8, #39bdb5, #24ada3, #009e91, #008990, #107387, #2b5d75, #35495e)
    &.is-react
        background: linear-gradient(to bottom, #ffffff, #00d8ff)

$family-sans-serif: 'Fira Sans', 'Ubuntu', 'Droid Sans', 'Arial', sans-serif

@import '~bulma'
