@import '~bulma'

html, body, #app,
    height: 100%
    margin: 0
    background: linear-gradient(to bottom, #ffffff, #e5eeff, #b9e2fb, #81d7ea, #4cccc8, #39bdb5, #24ada3, #009e91, #008990, #107387, #2b5d75, #35495e)
    #main
        display: flex
        flex-flow: column
        height: 100%
        #body
            flex: 1
            display: flex
            flex-flow: column
            height: 100%
